 body {
        font-family: 'Lato', serif;
      }

ul {
	list-style-type: none;
}

.menu-element {
	float:left;
	padding: 20px 40px 10px;
	font-weight: 700;
	font-size: 20px;
}

.menu-element:hover {
	border-bottom: 2px solid gray;
}