html, body {
 	font-family: 'Lato', serif;
   	text-rendering: optimizeLegibility; /* For fancy fonts */ 
   	height: 100%;
      }

* {
	margin: 0;
	padding: 0;
}

#page-container {
	min-height: 100%;
	margin-bottom: -50px;
	border: 1px solid black;
}

/* Links */

a {
	text-decoration: none;
	color: black;
}

nav a:visited {
	color: black;
}



/* Navigation */

ul {
	list-style-type: none;
}

nav {
	/*height: 50px;*/
	/*border: 2px solid black;*/
	margin-bottom: 60px;
}

header {
	width: 50%;
	height: 50px;
	float: left;
	font-size: 60px;
	font-weight: 700;
	text-align: left;
	padding-left: 10px;
	padding-top: 20px;
}

#full-stop {
	display:inline-block;
	height:10px;
	width: 10px;
	background-color: orange;
	margin-left: -5px;
}

.menu-element {
	/*float:left; */
	display:inline-block;
	margin: 20px 37px 0px 37px; 
	padding-top: 40px;
	font-weight: 700;
	font-size: 16px;
	border-bottom: 5px solid white;  Damn dirty hack to avoid a layout shift when hovering 
	/*border: 2px solid black;*/
}

.menu-element:hover {
	border-bottom: 3px solid black; 
}

.current-link {
	border-bottom: 3px solid black; 
}

/* Project page */
/*
img {
	width: 300px;
	height: 250px;
}

img:hover {
	opacity: 0.8;
}

#image-text {
	width:300px;
	height:250px;
	position: absolute;
}

img:hover #image-text {
	width:300px;
	height:250px;
	position: absolute;
}*/

/* Main Content */

#content {
	/*padding-bottom: 4em;*/
}

p {
	/*clear: both; From when I was using floats. Think it's unnecessary now */
	/*border: 1px solid blue; Testin' */
	margin: auto;
	margin-bottom: 50px;
	width: 70%;
	text-align: center;
	font-weight: 400;
}

/*Project page stuff - new and improved */

.image-container {
	width:200px;
	height: 200px;
	position: relative;
}

.project-image, .overlay {
	position: absolute;
}

.project-image {
	height: 200px;
	width: 200px;
	z-index: 1;
}

.project-image:hover {
	z-index: 0;
}

.overlay {
	height: 200px;
	width: 200px;
	color: white;
}

.overlay:hover {
	z-index: 2;
	opacity: 0.8;
}

/* Footer */

footer {
	clear: both;
	position: relative;
	z-index: 10;
	height: 50px;
}

#footer-message {
	float:right;
	padding: 10px;
}

a i:link {
	text-decoration: none;
}

a i:hover {
	text-decoration: none;
}

a i:visited {
	text-decoration: none;
}

a i:active {
	text-decoration: none;
}
